/* custom background color */
.bg-purple { background-color: #6f42c1; }
.bg-aliceblue{background-color:#f0f8ff!important}
.bg-antiquewhite{background-color:#faebd7!important}
.bg-aqua{background-color:#00ffff!important}
.bg-aquamarine{background-color:#7fffd4!important}
.bg-azure{background-color:#f0ffff!important}
.bg-beige{background-color:#f5f5dc!important}
.bg-bisque{background-color:#ffe4c4!important}
.bg-black{background-color:#000000!important}
.bg-blanchedalmond{background-color:#ffebcd    !important}
.bg-blue{background-color:#0000ff!important}
.bg-blueviolet{background-color:#8a2be2!important}
.bg-brown{background-color:#a52a2a!important}
.bg-burlywood{background-color:#deb887!important}
.bg-cadetblue{background-color:#5f9ea0!important}
.bg-chartreuse{background-color:#7fff00!important}
.bg-chocolate{background-color:#d2691e!important}
.bg-coral{background-color:#ff7f50!important}
.bg-cornflowerblue{background-color:#6495ed!important}
.bg-cornsilk{background-color:#fff8dc!important}
.bg-crimson{background-color:#dc143c!important}
.bg-cyan{background-color:#00ffff!important}
.bg-darkblue{background-color:#00008b!important}
.bg-darkcyan{background-color:#008b8b!important}
.bg-darkgoldenrod{background-color:#b8860b!important}
.bg-darkgrey{background-color:#a9a9a9!important}
.bg-darkgreen{background-color:#006400!important}
.bg-darkkhaki{background-color:#bdb76b!important}
.bg-darkmagenta{background-color:#8b008b!important}
.bg-darkolivegreen{background-color:#556b2f!important}
.bg-darkred{background-color:#8b0000!important}
.bg-darkorange{background-color:#ff8c00!important}
.bg-darkorchid{background-color:#9932cc!important}
.bg-darksalmon{background-color:#e9967a!important}
.bg-darkseagreen{background-color:#8fbc8f!important}
.bg-darkslateblue{background-color:#483d8b!important}
.bg-darkslategray{background-color:#2f4f4f!important}
.bg-darkturquoise{background-color:darkturquoise!important}
.bg-deeppink{background-color:#ff1493!important}
.bg-deepskyblue{background-color:#00bfff!important}
.bg-dimgrey{background-color:#696969!important}
.bg-dodgerblue{background-color:#1e90ff!important}
.bg-firebrick{background-color:#b22222!important}
.bg-floralwhite{background-color:#fffaf0!important}
.bg-forestgreen{background-color:#228b22!important}
.bg-fuchsia{background-color:#ff00ff!important}
.bg-gainsboro{background-color:#dcdcdc!important}
.bg-ghostwhite{background-color:#f8f8ff!important}
.bg-gold{background-color:#ffd700!important}
.bg-goldenrod{background-color:#daa520!important}
.bg-gray{background-color:#808080!important}
.bg-green{background-color:#008000!important}
.bg-greenyellow{background-color:#adff2f!important}
.bg-honey{background-color:#f0fff0!important}
.bg-hotpink{background-color:#ff69b4!important}
.bg-indianred{background-color:#cd5c5c!important}
.bg-indigo{background-color:#4b0082!important}
.bg-ivory{background-color:#fffff0!important}
.bg-khaki{background-color:#f0e68c!important}
.bg-lavender{background-color:#e6e6fa!important}
.bg-lawngreen{background-color:#7cfc00!important}
.bg-lightblue{background-color:#add8e6!important}
.bg-lightcoral{background-color:#f08080!important}
.bg-lightcyan{background-color:#e0ffff!important}
.bg-lightgreen{background-color:#90ee90!important}
.bg-lightpink{background-color:#ffb6c1!important}
.bg-lightsalmon{background-color:#ffa07a!important}
.bg-lightseagreen{background-color:#20b2aa!important}
.bg-lightskyblue{background-color:#87cefa!important}
.bg-maroon{background-color:#800000!important}
.bg-mediumblue{background-color:#0000cd!important}
.bg-mediumspringgreen{background-color:#00fa9a!important}
.bg-midnightblue{background-color:#191970!important}
.bg-navy{background-color:#000080!important}
.bg-orangered{background-color:#ff4500!important}
.bg-purple{background-color:#800080!important}
.bg-red{background-color:#ff0000!important}
.bg-royalblue{background-color:#4169e1!important}
.bg-seagreen{background-color:#2e8b57!important}
.bg-springgreen{background-color:#00ff7f!important}
.bg-steelblue{background-color:#4682b4!important}
.bg-teal{background-color:#008080!important}
.bg-tomato{background-color:#ff6347!important}
.bg-turquoise{background-color:#40e0d0!important}
.bg-violet{background-color:#ee82ee!important}
.bg-whitesmoke{background-color:#f5f5f5!important}
.bg-yellow{background-color:#ffff00!important}
.bg-yellowgreen{background-color:#9acd32!important}




/* //custom background color// */
/* custom text color */
.text-purple { color: #6f42c1; }
.text-aliceblue{color:#f0f8ff!important}
.text-antiquewhite{color:#faebd7!important}
.text-aqua{color:#00ffff!important}
.text-aquamarine{color:#7fffd4!important}
.text-azure{color:#f0ffff!important}
.text-beige{color:#f5f5dc!important}
.text-bisque{color:#ffe4c4!important}
.text-black{color:#000000!important}
.text-blanchedalmond{color:#ffebcd    !important}
.text-blue{color:#0000ff!important}
.text-blueviolet{color:#8a2be2!important}
.text-brown{color:#a52a2a!important}
.text-burlywood{color:#deb887!important}
.text-cadetblue{color:#5f9ea0!important}
.text-chartreuse{color:#7fff00!important}
.text-chocolate{color:#d2691e!important}
.text-coral{color:#ff7f50!important}
.text-cornflowerblue{color:#6495ed!important}
.text-cornsilk{color:#fff8dc!important}
.text-crimson{color:#dc143c!important}
.text-cyan{color:#00ffff!important}
.text-darkblue{color:#00008b!important}
.text-darkcyan{color:#008b8b!important}
.text-darkgoldenrod{color:#b8860b!important}
.text-darkgrey{color:#a9a9a9!important}
.text-darkgreen{color:#006400!important}
.text-darkkhaki{color:#bdb76b!important}
.text-darkmagenta{color:#8b008b!important}
.text-darkolivegreen{color:#556b2f!important}
.text-darkred{color:#8b0000!important}
.text-darkorange{color:#ff8c00!important}
.text-darkorchid{color:#9932cc!important}
.text-darksalmon{color:#e9967a!important}
.text-darkseagreen{color:#8fbc8f!important}
.text-darkslateblue{color:#483d8b!important}
.text-darkslategray{color:#2f4f4f!important}
.text-darkturquoise{color:darkturquoise!important}
.text-deeppink{color:#ff1493!important}
.text-deepskyblue{color:#00bfff!important}
.text-dimgrey{color:#696969!important}
.text-dodgerblue{color:#1e90ff!important}
.text-firebrick{color:#b22222!important}
.text-floralwhite{color:#fffaf0!important}
.text-forestgreen{color:#228b22!important}
.text-fuchsia{color:#ff00ff!important}
.text-gainsboro{color:#dcdcdc!important}
.text-ghostwhite{color:#f8f8ff!important}
.text-gold{color:#ffd700!important}
.text-goldenrod{color:#daa520!important}
.text-gray{color:#808080!important}
.text-green{color:#008000!important}
.text-greenyellow{color:#adff2f!important}
.text-honey{color:#f0fff0!important}
.text-hotpink{color:#ff69b4!important}
.text-indianred{color:#cd5c5c!important}
.text-indigo{color:#4b0082!important}
.text-ivory{color:#fffff0!important}
.text-khaki{color:#f0e68c!important}
.text-lavender{color:#e6e6fa!important}
.text-lawngreen{color:#7cfc00!important}
.text-lightblue{color:#add8e6!important}
.text-lightcoral{color:#f08080!important}
.text-lightcyan{color:#e0ffff!important}
.text-lightgreen{color:#90ee90!important}
.text-lightpink{color:#ffb6c1!important}
.text-lightsalmon{color:#ffa07a!important}
.text-lightseagreen{color:#20b2aa!important}
.text-lightskyblue{color:#87cefa!important}
.text-maroon{color:#800000!important}
.text-mediumblue{color:#0000cd!important}
.text-mediumspringgreen{color:#00fa9a!important}
.text-midnightblue{color:#191970!important}
.text-navy{color:#000080!important}
.text-orangered{color:#ff4500!important}
.text-purple{color:#800080!important}
.text-red{color:#ff0000!important}
.text-royalblue{color:#4169e1!important}
.text-seagreen{color:#2e8b57!important}
.text-springgreen{color:#00ff7f!important}
.text-steelblue{color:#4682b4!important}
.text-teal{color:#008080!important}
.text-tomato{color:#ff6347!important}
.text-turquoise{color:#40e0d0!important}
.text-violet{color:#ee82ee!important}
.text-whitesmoke{color:#f5f5f5!important}
.text-yellow{color:#ffff00!important}
.text-yellowgreen{color:#9acd32!important}
/* //custom text color// */
/* custom btn color */
.btn-purple { background-color: #6f42c1; }
.btn-aliceblue{background-color:#f0f8ff!important}
.btn-antiquewhite{background-color:#faebd7!important}
.btn-aqua{background-color:#00ffff!important}
.btn-aquamarine{background-color:#7fffd4!important}
.btn-azure{background-color:#f0ffff!important}
.btn-beige{background-color:#f5f5dc!important}
.btn-bisque{background-color:#ffe4c4!important}
.btn-black{background-color:#000000!important}
.btn-blanchedalmond{background-color:#ffebcd    !important}
.btn-blue{background-color:#0000ff!important}
.btn-blueviolet{background-color:#8a2be2!important}
.btn-brown{background-color:#a52a2a!important}
.btn-burlywood{background-color:#deb887!important}
.btn-cadetblue{background-color:#5f9ea0!important}
.btn-chartreuse{background-color:#7fff00!important}
.btn-chocolate{background-color:#d2691e!important}
.btn-coral{background-color:#ff7f50!important}
.btn-cornflowerblue{background-color:#6495ed!important}
.btn-cornsilk{background-color:#fff8dc!important}
.btn-crimson{background-color:#dc143c!important}
.btn-cyan{background-color:#00ffff!important}
.btn-darkblue{background-color:#00008b!important}
.btn-darkcyan{background-color:#008b8b!important}
.btn-darkgoldenrod{background-color:#b8860b!important}
.btn-darkgrey{background-color:#a9a9a9!important}
.btn-darkgreen{background-color:#006400!important}
.btn-darkkhaki{background-color:#bdb76b!important}
.btn-darkmagenta{background-color:#8b008b!important}
.btn-darkolivegreen{background-color:#556b2f!important}
.btn-darkred{background-color:#8b0000!important}
.btn-darkorange{background-color:#ff8c00!important}
.btn-darkorchid{background-color:#9932cc!important}
.btn-darksalmon{background-color:#e9967a!important}
.btn-darkseagreen{background-color:#8fbc8f!important}
.btn-darkslateblue{background-color:#483d8b!important}
.btn-darkslategray{background-color:#2f4f4f!important}
.btn-darkturquoise{background-color:darkturquoise!important}
.btn-deeppink{background-color:#ff1493!important}
.btn-deepskyblue{background-color:#00bfff!important}
.btn-dimgrey{background-color:#696969!important}
.btn-dodgerblue{background-color:#1e90ff!important}
.btn-firebrick{background-color:#b22222!important}
.btn-floralwhite{background-color:#fffaf0!important}
.btn-forestgreen{background-color:#228b22!important}
.btn-fuchsia{background-color:#ff00ff!important}
.btn-gainsboro{background-color:#dcdcdc!important}
.btn-ghostwhite{background-color:#f8f8ff!important}
.btn-gold{background-color:#ffd700!important}
.btn-goldenrod{background-color:#daa520!important}
.btn-gray{background-color:#808080!important}
.btn-green{background-color:#008000!important}
.btn-greenyellow{background-color:#adff2f!important}
.btn-honey{background-color:#f0fff0!important}
.btn-hotpink{background-color:#ff69b4!important}
.btn-indianred{background-color:#cd5c5c!important}
.btn-indigo{background-color:#4b0082!important}
.btn-ivory{background-color:#fffff0!important}
.btn-khaki{background-color:#f0e68c!important}
.btn-lavender{background-color:#e6e6fa!important}
.btn-lawngreen{background-color:#7cfc00!important}
.btn-lightblue{background-color:#add8e6!important}
.btn-lightcoral{background-color:#f08080!important}
.btn-lightcyan{background-color:#e0ffff!important}
.btn-lightgreen{background-color:#90ee90!important}
.btn-lightpink{background-color:#ffb6c1!important}
.btn-lightsalmon{background-color:#ffa07a!important}
.btn-lightseagreen{background-color:#20b2aa!important}
.btn-lightskyblue{background-color:#87cefa!important}
.btn-maroon{background-color:#800000!important}
.btn-mediumblue{background-color:#0000cd!important}
.btn-mediumspringgreen{background-color:#00fa9a!important}
.btn-midnightblue{background-color:#191970!important}
.btn-navy{background-color:#000080!important}
.btn-orangered{background-color:#ff4500!important}
.btn-purple{background-color:#800080!important}
.btn-red{background-color:#ff0000!important}
.btn-royalblue{background-color:#4169e1!important}
.btn-seagreen{background-color:#2e8b57!important}
.btn-springgreen{background-color:#00ff7f!important}
.btn-steelblue{background-color:#4682b4!important}
.btn-teal{background-color:#008080!important}
.btn-tomato{background-color:#ff6347!important}
.btn-turquoise{background-color:#40e0d0!important}
.btn-violet{background-color:#ee82ee!important}
.btn-whitesmoke{background-color:#f5f5f5!important}
.btn-yellow{background-color:#ffff00!important}
.btn-yellowgreen{background-color:#9acd32!important}
/* //custom btn color// */
